*,*::before,*::after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    color:inherit;
    text-decoration: none;
}
ul,ol{
list-style: none;
}
button{
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}